<title>{{title}}</title>

<header>
  <h1 class="welcome-title flex-container">Mongo DB Scraper!</h1>
  <h2 class="article">Articles:</h2>
</header>
<section class="btn-section">
  <form action="/scrape" method="GET" class="scrape">
    <button type="submit" class="scrapeBtn">Scrape for New Articles</button>
  </form>
</section>
<main class="flex-main">
  <section class="left-side">
    <section class="flex-ul">
      <ul>
        {{#each articles}}
        <li>
          <div class="card" id="articles">
            <img src="{{image}}" />
            <div class="article-container">
              <h2>{{title}}</h2>
              <p>{{summary}}</p> <a class="linkStyle" href={{link}}>Go to Site:</a>
              <div class="notes-container">
                <div class="circle">
                  <div class="addNotes" data-id="{{_id}}"> + Notes</div>
                </div>
              </div>
            </div>
          </div>
          <div id="notes"></div>
          <div id="noteShow">
            <h2>This is h2 title </h2>
            <p>This is paragraph</p>
            <div class="delete-container" data-id="{{_id}}"></div>
          </div>
        </li>
        {{/each}}
      </ul>
    </section>
  </section>

  <section class="right-side">
    <div id="notes"></div>
    <div id="noteShow">
      <h2>This is h2 title </h2>
      <p>This is paragraph</p>
      <div class="delete-container" data-id="{{_id}}"></div>
    </div>
  </section>
</main>